.about-us {
h1{text-transform:uppercase ;}
a{
    color:#FFE1C8;
    font-weight: 600;
}

    background-color:#E8563D;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
  
    border-radius: .3rem;
    color:#FFEAE5;

}